<!doctype html>
<html lang="en">
  <head>


     <!----favicon------->

     <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
     <link rel="manifest" href="/site.webmanifest">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <head>
      <meta charset="UTF-8">
      <title>Price Visualizer by spoonacular</title>
      <meta name="author" content="David Urbansky">
      <meta name="description" content="A spoonacular price visualizer demo for recipes.">
      <meta name="keywords" content="spoonacular, API, cost, price, visualization, demo, app">
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      
      
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="style2.css" rel="stylesheet" type="text/css"/>
   
    <title>Price Estimator</title>
  </head>
  <body>
     <!-- form for keying in ingredients-->
    
    <div id="app">
        <h1>GROCERY LIST PRICE ESTIMATOR</h1>

        <h2>Create an informative and attractive price breakdown of a recipe.</h2>

        <h1>Ingredients</h1>
        <textarea v-model="ingredients" name="ingredients" style="height:150px;width:calc(100% - 20px);padding:10px"
            placeholder="one ingredient per line, such as &quot;200 grams of cucumber&quot;"></textarea>

        <h1>Number of Servings</h1>
        <input name="servings" type="number" style="width:100px;padding:10px;" v-model="servings" />

        <h3>View Style</h3>
        <div>
            <input id="spoonacular-grid" name="view" type="radio" checked="" value="1" v-model="viewStyle">
            <label for="spoonacular-grid" onclick="">compact</label>
            <input id="spoonacular-list" name="view" type="radio" value="2" v-model="viewStyle">
            <label for="spoonacular-list" onclick="">full</label>
            <span class="slide-button"></span>
        </div>

        <div class="button" @click="previewPriceWidget">View Price Estimator</div>

        <iframe id="previewWidget"></iframe>

        
        <div id="spoonacular">
            
            <a href="index.html"><img src="image/recipe.png" width = "200" height = "200"alt="recipe logo"><br></a>
        </div>
        
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
  
    


    <script src ="price.js"></script>




  </body> 
   
   
</html>

