
nav{
  background-color: white;
  width:2550px;
 }
 

 
 /*style for favicon*/
 
 .icon{
   position:relative;
   left:0;
   bottom:10px;
   padding-top:10px;
 }
 
 /* styles for navigation bar*/
 
 .nav-link{
     
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 60px;
     color: black;    
   
 }
 .navbar-toggler{
   
   opacity: 0.3;
   border:2px solid black;
 }
 
 

 .H4{
   width:800px;

 }

 .body {
  background-color: beige;
  
}

 .form-inline .form-control {
  display: inline-block;
  width: 400px;
  height:51px;
  vertical-align: middle;
 }
 
.row{

  width: 2550px;
  height: 900px;
  background-image: url('image/recipe collage.jpg');
  background-repeat:repeat-x;
}




.box{
  width:800px;
  height:600px;
  border: solid black 5px;
  position: absolute;
  left:1000px;
  top:550px;
  background-color:grey;
  opacity: 0.7;
  border-radius:30px;

}





 /*paading and margin settings for container*/
 .px-5 {
   padding-left: (spacer * 3.0) 
   
 }


 
 mt-4{
 
 margin-top:(spacer *1.5)
 }
 px-4{
 
   padding-right:(spacer * 1.5)
 }
 
 px-2{
 
   padding-right:(spacer * 0.5)
 }


 
 /* Link Styles*/
   .a:link {
     color:black;
     
     opacity: 0.7;
   }
 
   .a:hover {
   opacity:1.0;
     
   }
 
 
 

 
/*background-color*/
body {
  background-color:beige;
  width:2550px;

}



header {
padding: 2rem 0;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}

/* search bar */
form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  position:relative;
  right:50px;
  
}



input#ingredients{
width:450px;
height:50px;
font-size:40px;
border-radius:10px;
border:solid black

}



  
button, optgroup, select {

  font-size:30px;
  width: 200px;
  height:50px;
  background-color:#4261F5;
  margin-left:10px;
  border-radius:20px;
  border:white;

  }

  p{
    font-size:30px;
  }

  Style.Attribute{
   width:100px;

  }
  section{

    width:600px;
    position:relative;
  }
  
  h2{

    display:block;
    width:312px;
  }

  img{
    display:block;
    border-radius:15px;
    
  }