
 
 /*style for favicon*/
 
 .icon {
   position:relative;
   left:0;
   bottom:10px;
   padding-top:10px;
 }
 
 /* styles for navigation bar*/
 
 .nav-link {
     
     text-decoration: none;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
     font-size: 30px;

 }

a{

  font-size:30px;
  color: black;
  
}
nav {
  background-color: white;
  
 }
 



/*form styles*/

 .form-inline .form-control {
  display: inline-block;
  width: 200px;
  height:51px;
  vertical-align: middle;
 }
 
 .row {
  padding-left:5px;
  margin-top:5px;
  padding-right:10px;

 }


/*background-color*/
body {
  background-color:beige;
}

header {
padding: 2rem 0;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}

/* Recipe search bar */
form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  
  right:50px;
  
}

input#ingredients {
width:350px;
height:50px;
font-size:40px;
border-radius:10px;
border:solid beige;

}


/*Button format*/
  
button, optgroup, select {

  font-size:30px;
  width: 150px;
  height:50px;
  background-color:#4261F5;
  margin-left:10px;
  border-radius:10px;
  border:white;
  margin:10px;
  }

  
  Style.Attribute {
   width:100px;

  }

  /*Recipe section format and styles*/
  section
  {
    width:600px;
  
  }


  h2, h3,p {
    display:block;
    width:312px;
    padding-left:20px;
    font-family: 'Lucida Grande';
    font-size:30px;
  }

  h1 {

    font-size:40px;
    font-family: 'Open Sans', sans-serif;
    
  }

  h4 {
    padding-left:20px;
   
  }

  img {
    display:block;
    border-radius:10px;
    padding-left:10px;
    padding-bottom:10px;
    padding-top:10px;
    width:450px;
    height:400px;
    
  }
 
  img.img-fluid.col-lg-2.border.border-secondary.rounded-lg {

    
    height:250px;
    width:400px;
    position:relative;
    
  }
  
  .border {
    border: 4px solid beige!important;
}

img.rounded.icon {
  width:120px;
    height:120px;
    
}



