
 
 /*style for favicon*/
 
 .icon {
   position:relative;
   left:0;
   bottom:10px;
   padding-top:10px;
 }

/*styles for link*/
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255);
  font-size:40px;
}
/*form styles*/

 .form-inline .form-control {
  display: inline-block;
  width: 200px;
  height:51px;
  vertical-align: middle;
 }

   /*form styles*/
  
   .border {
    border: 4px solid beige!important;
}
 
 .row {
  padding-left:5px;
  margin-top:5px;
  padding-right:10px;

 }


/*background-color*/
body {
  background-color:beige;
}

header {
padding: 20rem;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}

/* Recipe search bar styles */
form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  right:50px;
  
}

input#ingredients {
width:350px;
height:40px;
font-size:18px;
border-radius:10px;
border:solid orange;

}


/*Button format*/
  
button, optgroup, select {

  font-size:20px;
  width: 150px;
  height:40px;
  background-color:#4261F5;
  margin-left:10px;
  border-radius:10px;
  border:white;
  margin:10px;
  }

  
  Style.Attribute {
   width:100px;

  }

  /*Recipe section format and styles*/
  section
  {
    width:600px;
  
  }

 /*header styles for recipe display section*/
  h2, h3,p {
    display:block;
    width:312px;
    padding-left:20px;
    font-family: 'Lucida Grande';
    font-size:30px;
  }

  h1 {

    font-size:40px;
    font-family: 'Open Sans', sans-serif;
    
  }

  h4 {
    padding-left:20px;
   
  }

  /*image styles for recipes display*/

  img {
    display:block;
    border-radius:10px;
    padding-left: 10px;
    padding-bottom:10px;
    padding-top:10px;
    width:450px;
    height:400px;
    
  }
 
  img.img-fluid.col-lg-2.border.border-secondary.rounded-lg {

    
    height:250px;
    width:400px;
    position:relative;
    
  }

/*image styles for toggle button*/

img.rounded.icon {
  width:120px;
    height:120px;
    
}



