/*background image*/

body {

 

  background-image: url(/image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}



 
 /*style for favicon*/
 
 .icon {
   position:relative;
   left:0;
   bottom:10px;
   padding-top:10px;
 }

/*styles for link*/
.navbar-light .navbar-nav .nav-link {
    
  font-size:50px;
  font-family: 'Pacifico', cursive;
  color:magenta;
}

/*form styles*/

 .form-inline .form-control {
  display: inline-block;
  width: 200px;
  height:51px;
  vertical-align: middle;
 }

   /*form styles*/
  
   .border {
    border: 4px solid beige!important;
}
 
 


header {
padding: 20rem;
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
}

/* Recipe search bar styles */
form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  right:50px;
  
}

input#ingredients {
width:550px;
height:40px;
font-size:18px;

}


/*Button format*/
  
button, optgroup, select {

  font-size:20px;
  width: 100px;
  height:40px;
  background-color:#4261F5;
  margin-left:10px;
  border-radius:10px;
  margin:10px
  
  }

  button.navbar-toggler.collapsed{

    width:80px;
    height:40px;
    border:1px solid black;
    background-color:white;
    opacity:2.0;
 }

 button.navbar-toggler{

  width:80px;
  height:40px;
  border:1px solid black;
  background-color:white;
  opacity:2.0;
}



  
  Style.Attribute {
   width:100px;

  }

  /*Recipe section format and styles*/
  

 /*header styles for recipe display section*/
  h2 {
    display:block;
    width:312px;
    padding-left:20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:25px;
    color:black;
    padding-bottom: 5px;
    
  }

  h3{
    display:block;
    width:312px;
    padding-left:20px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:25px;
    color:black;
   
  
  }

  p {
    display:block;
    width:312px;
    padding-left:20px;
    font-family: 'Catamaran', sans-serif;
    font-size:25px;
    color:black;
    
  }


  h1 {

    font-size:30px;
    font-family: 'Open Sans', sans-serif;
    
    
  }

  h4 {
    padding-left:20px;
   
  }

  /*image styles for recipes display*/

  img {
    display:block;
    border-radius:15px;
    padding:10px;
    width:450px;
    height:400px;
    text-align: center;
 
    
  }
 
  img.img-fluid.col-lg-2.border.border-secondary.rounded-lg {

    
    height:250px;
    width:400px;
    position:relative;
    
  }

/*image styles for toggle button*/

img.rounded.icon {
  width:120px;
    height:120px;
    
}




.post{
  text-align: center;
}


.box {

  width: 400px;
  height: 400px;
  background-color: transparent;
  margin-top:10px;
  border-radius: 30px;
 
}
