


a.nav-link{

    font-size:40px;
    color: white;
  
  }

   /*style for favicon*/
   
   .icon{
     position:relative;
     left:0;
     bottom:10px;
     padding-top:10px;
   }
   
   .body {
    background-color: beige;
    
  }

  #app {
    font-family: 'Open Sans', sans-serif;
    
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
    border-radius: 22px;
}

/* styles for price chart */

iframe {
    width: 100%;
    height: 610px;
    border: none;
    margin-top: 20px;
}

/* styles for menu price page */
h1 {
    margin-top: 0;
    color:blue;
}

p {
    font-size: 22px;
    display: inline;
}


.button {
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

#spoonacular {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center
    
}

/* styles for radio buttons*/

input#spoonacular-grid{
width:30px;
height:30px;

}
input#spoonacular-list{
    width:30px;
    height:30px;
    
    }


/* styles for price button and text area */
div.button{
    width:500px;
    font-size:40px;
}


button, input, optgroup, select, textarea, label, div {
    margin: 0px;
    font-family: inherit;
    font-size: 40px;
    line-height: inherit;
    width:20;
    height:20;

}


